@import "tailwindcss";

:root {
  /* Tema claro (default) */
  --background: #ffffff;
  --foreground: #000000;

  --primary: #174d80;
  --secondary: #66b39f;
}

.dark {
  /* Tema oscuro */
  --background: #0a0a0a;
  --foreground: #f5f5f5;

  --primary: #1e90ff;
  --secondary: #20c997;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
